<div>
	<% if !@lights.status.nil? %>
		<hr>
		Lampada:
		<hr>
		<hr>
		<%= @lights.estado_lampada %>
		<hr>
		<br>
	<% end %>
	<% if !@tv.status.nil? %>
		<hr>
		Tv:
		<hr>
		<hr>
		<%= @tv.estado_tv %>
		<% if @tv.status == 1 %>
			<%= "Canal: #{@tv.channel}" %>
		<% end %>
		<hr>
	<% end %>
	<% if !@tv.status.nil? %>
		<hr>
		Tv:
		<hr>
		<hr>
		<%= @tv.estado_tv %>
		<% if @tv.status == 1 %>
			<%= "Canal: #{@tv.channel}" %>
		<% end %>
		<hr>
	<% end %>
</div>