<%= form_with(model: room_status, local: true) do |form| %>
  <% if room_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_status.errors.count, "error") %> prohibited this room_status from being saved:</h2>

      <ul>
      <% room_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ac_temperature %>
    <%= form.number_field :ac_temperature %>
  </div>

  <div class="field">
    <%= form.label :ac_status %>
    <%= form.check_box :ac_status %>
  </div>

  <div class="field">
    <%= form.label :tv_status %>
    <%= form.check_box :tv_status %>
  </div>

  <div class="field">
    <%= form.label :tv_channel %>
    <%= form.number_field :tv_channel %>
  </div>

  <div class="field">
    <%= form.label :lamp_status %>
    <%= form.check_box :lamp_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
